body {
  background-color: burlywood;
}
html {
  background-image: url("img/background.jpg");
}

.table {
  background-color: cornsilk;
  margin-top: 60px;
}

#heading {
  text-align: center;
  padding-top: 40px;
  font-weight: bolder;
  background-color: burlywood;
}
